In [1]:
from randan.descriptive_statistics import ScaleStatistics # интервальная статистика
import matplotlib.pyplot as plt # для визуализации и графического представления
import seaborn as sns # для визуализации и графического представления
import pandas as pd # для обработки и анализа структурированных данных
import numpy as np# для корректной работы рандана 
from randan.bivariate_association import Correlation 
import os # для работы с операционной системой

In [2]:
os.chdir('/Users/n26300/Desktop/python')

In [66]:
df = pd.read_excel('un_gdi.xlsx')

In [4]:
df = gdi.dropna()

In [67]:
ss = ScaleStatistics(df, [2013], normality_test=True) 
ss.summary()

SCALE STATISTICS SUMMARY
------------------

NORMALITY TESTS
------------------

,N,mode,median,mean,25%,75%,interquart. range,interquart. range (norm.),min,max,range,std,var,entropy coef.,quality var.
2013,170.0,0.981,0.9625,0.942606,0.9125,0.986,0.0735,0.177108,0.62,1.035,0.415,0.064796,0.004199,0.971994,0.999962

In [15]:
corr = Correlation(df, method = 'spearman', two_tailed = False)

CORRELATION SUMMARY (SPEARMAN METHOD, 1-TAILED)
------------------
The following variables were removed from the analysis since they do not belong to numerical dtypes: country

Note: Each empty index duplicates the previous one.
Maximum correlation is 0.989 (p-value 0.0) for variables 2013 and 2015,
minimum correlation is 0.927 (p-value 0.0) for variables 2014 and 2021.

In [12]:
# corr.correlation_matrix

In [11]:
# plt.figure(figsize=(16, 6))
# heatmap = sns.heatmap(df.corr(), annot=True)
# heatmap.set_title('Надежность-устойчивость: Индекс гендерного развития ООН 2013-2022', fontdict={'fontsize':12}, pad=12);

In [57]:
df1 = pd.read_excel('un_ggi.xlsx')

In [62]:
df1 = df1.dropna()